.tree-box {
	width: 600px;
	margin: 0 auto;
	overflow-x: scroll;
	height: auto;
}
@media screen and (max-width: 650px) {
	.tree-box {
		width: 95%;
		position: relative;
		left: 2.5%;
	}
}
ul {
	list-style: none;
	position: relative;
	left: -25px;
}
li {
	padding: 20px;
	padding-left: 10;
	font-family: 'Open Sans', sans-serif;
	width: 500px;
	border:1px solid black;
	position: relative;
	font-size: 13px;
}
.hidden {	
	display: none;
}
h2 {
	text-align: center;
	font-size: 32px;
	color: darkorange;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}
.input-field {
	width: 600px;
	margin: 0 auto;
}

.input-field input {
	width: 400px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	border:1px solid black;
}
.input-field button {
	width: 150px;
	height: 34px;
	border:1px solid black;
	background: white;
	position: relative;	
	left: 30px;	
	border-radius: 5px;
}
.tree-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);	
	background-color: #F5F5F5;
	height: 1px;
}
.tree-box::-webkit-scrollbar
{
	width: 10px;	
	height: 2px;
	background-color: #F5F5F5;
}
.tree-box::-webkit-scrollbar-thumb
{
	background-color: #000000;	
	border: 2px solid #555555;
	height: 2px;
}

@media screen and (max-width: 650px) {
	.tree-box, .input-field {
		width: 95%;
		position: relative;
		left: 0;
	}
	.input-field input {
		width: 70%;
		float: left;
	}
	.input-field button {
		float: left;
		width: 25%;
		left: initial;
	}
	li {
		width: 400px;
	}
}
